<div class="container">
  <% @comments.each do |comment| %>
    <div class="card">
      <div class="card-header">Comment By <%= comment.user.username =%></div>
      <div class="card-body">
        <h5 class="card-title">Comment for <%= comment.product.name =%> product</h5>
        <p class="card-text"><%= comment.body =%></p>
      <%= button_to "delete", comment_path(comment), :method=>:delete, :class=>:destroy, class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>
</div>
