<%= form_for @comment, url: {controller: "comments", action: "create"}  do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= "#{pluralize(@comment.errors.count, "Error")} prohibited this comment from being saved:" %></h2>
      <ul>
        <% @comment.errors.full_messages.each do |msg| %>          
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_area :body, placeholder: "Enter Your Comment", class: "form-control" %><br>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit "Post Comment", class: "btn btn-primary" %>
<% end %>
