<div class="container">
  <h1>Products:</h1>
    <table class="table mt-5 table-bordered">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Status</th>
        <th>Category</th>
       <th>See Product</th>
      </tr>
      <% @order.products.each do |p| %>
        <tr>
          <td><%= p.id %></td>
          <td><%= p.name %></td>
          <td><%= p.description %></td>
          <td><%= p.price %>$</td>
          <td><%= status_to_string p %></td>
          <td><%= p.category.title %></td>
          <td><%= link_to "See", product_path(p), :method=>:get, :class=>:show %></td>
        </tr>
      <% end %>
    </table>
    <h3>Price: <%= @order.price %>$</h3> (koonet paras haji)
</div>

