<h1>Pages#welcome</h1>
<p>Find me in app/views/pages/welcome.html.erb</p>
<%= current_user.nil? %>
<% if current_user %>
  <%= link_to 'Log out', logout_path, method: :delete %>
  <h2>Hi <%= current_user.username =%></h2>
<% end %>

