<div class="container">
  <table class="table mt-5 table-bordered">
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Products In</th>
    </tr>
    <% @carts.each do |p| %>
      <tr>
        <td><%= p.id %></td>
        <td><%= p.user.username %></td>
        <td><%= p.products.count %></td>
      </tr>
    <% end %>
  </table>
</div>
