
<style>
  * {
    font-family: Roboto;
  }
</style>

<div class="container">
  <% def draw cat %>
    <h5 style="margin-left: <%= depth(cat) * 40 %>px"><%= link_to "#{cat.title}", category_path(cat) %></h5><br>
      <% if cat.subcategories.any? %>
        <% for c in cat.subcategories %>
          <% draw c %>
        <% end %>
      <% end %>
  <% end %>
  <% for category in @parent_categories %>
    <% draw category %>
  <% end %>
</div>



