<% @products.each do |p| %>
  <div class="card m-5" style="width: 18rem;">
    <image src="<%=(url_for(p.photo))%>" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title"><%= p.name %></h5>
    <p class="card-text"><%= p.description %></p>
    <%= link_to "See", product_path(p), :method=>:get, :class=>:show, class: "card-link" %>
  </div>
</div>
<% end %>
