<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @search_results_products.each do |p| %>
      <tr>
        <td><%= p.name %></td>
        <td><%= p.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
