<div class="container">
  <% if @products.present? %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |p| %>
        <tr>
          <td><%= p.name %></td>
          <td><%= p.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
    <p>didn't match :(</p>
  <% end %>
</div>
